In [57]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import seaborn as sns
import missingno as msno
import pingouin as pg
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
import seaborn as sns
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegressionCV

In [58]:
# Load dataset
df = sns.load_dataset('titanic')

In [59]:
# number of category is grestrer than 2 than one-hot encoding
dict_sex = {'male':0, 'female':1}
dict_embarked = {'S':0, 'C':1, 'Q': 2}
dict_class = {'First': 1, 'Second': 2, 'Third': 3}
dict_who = {'man': 0, 'woman': 1, 'child': 2}
dict_deck = {'A': 0, 'B':1, 'C':2, 'D':3, 'E':4, 'F':5, 'G':6}
dict_embark_town = {'Southampton':0, 'Cherbourg':1, 'Queenstown':2}
dict_yes_no = {'yes': 1, 'no': 0}

df.sex = df.sex.map(dict_sex)
df.embarked = df.embarked.map(dict_embarked)
df['class'] = df['class'].map(dict_class)
df.who = df.who.map(dict_who)

df.adult_male[df.adult_male == True] = 1
df.adult_male[df.adult_male == False] = 0

df.deck = df.deck.map(dict_deck)
df.embark_town = df.embark_town.map(dict_embark_town)
df.alive = df.alive.map(dict_yes_no)

df.alone[df.alone == True] = 1
df.alone[df.alone == False] = 0

In [60]:
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [61]:
imp_median = SimpleImputer(missing_values=np.nan, strategy='median')
imp_median.fit(df.age.to_numpy().reshape(-1, 1))

df.age = imp_median.transform(df.age.to_numpy().reshape(-1, 1))

In [62]:
imp_freq = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imp_freq.fit(df.deck.to_numpy().reshape(-1, 1))

df.deck = imp_freq.transform(df.deck.to_numpy().reshape(-1, 1))

In [63]:
df.isna().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
deck           0
embark_town    2
alive          0
alone          0
dtype: int64

In [64]:
df = df.dropna()

In [65]:
y = df.alive
# X = df.drop(columns=['alive'])
X = df.drop(columns=['alive', 'sex', 'who', 'survived', 'adult_male', 'alone'])

In [66]:
X.columns

Index(['pclass', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'deck',
       'embark_town'],
      dtype='object')

In [67]:
X

     pclass   age  sibsp  parch     fare  embarked class  deck  embark_town
0         3  22.0      1      0   7.2500       0.0     3   2.0          0.0
1         1  38.0      1      0  71.2833       1.0     1   2.0          1.0
2         3  26.0      0      0   7.9250       0.0     3   2.0          0.0
3         1  35.0      1      0  53.1000       0.0     1   2.0          0.0
4         3  35.0      0      0   8.0500       0.0     3   2.0          0.0
..      ...   ...    ...    ...      ...       ...   ...   ...          ...
886       2  27.0      0      0  13.0000       0.0     2   2.0          0.0
887       1  19.0      0      0  30.0000       0.0     1   1.0          0.0
888       3  28.0      1      2  23.4500       0.0     3   2.0          0.0
889       1  26.0      0      0  30.0000       1.0     1   2.0          1.0
890       3  32.0      0      0   7.7500       2.0     3   2.0          2.0

[889 rows x 9 columns]

In [42]:
X_train,X_test,y_train,y_test=train_test_split(X, y, test_size=0.3,random_state=42)

In [43]:
Cs = [10, 20, 30, 40]
gammas = [0.0001, 0.001, 0.01, 0.1, 1.0]
param_grid = {'C': Cs, 'gamma' : gammas}

grid_search = GridSearchCV(SVC(kernel='rbf', probability=True), param_grid, cv=10, n_jobs=-1, verbose=1)
grid_search.fit(X_train, y_train)

best_model = grid_search.best_estimator_
grid_search.best_params_

Fitting 10 folds for each of 20 candidates, totalling 200 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  52 tasks      | elapsed:    0.7s
[Parallel(n_jobs=-1)]: Done 200 out of 200 | elapsed:    2.7s finished

{'C': 40, 'gamma': 0.001}

In [44]:
print(grid_search.best_estimator_)
print("The mean accuracy of the model is:", best_model.score(X_test,y_test))

SVC(C=40, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.001, kernel='rbf',
    max_iter=-1, probability=True, random_state=None, shrinking=True, tol=0.001,
    verbose=False)
The mean accuracy of the model is: 0.7303370786516854

In [45]:
# Load dataset
df = sns.load_dataset('titanic')

In [46]:
imp_median = SimpleImputer(missing_values=np.nan, strategy='median')
imp_median.fit(df.age.to_numpy().reshape(-1, 1))

df.age = imp_median.transform(df.age.to_numpy().reshape(-1, 1))

imp_freq = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imp_freq.fit(df.deck.to_numpy().reshape(-1, 1))

df.deck = imp_freq.transform(df.deck.to_numpy().reshape(-1, 1))

In [47]:
df.isna().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
deck           0
embark_town    2
alive          0
alone          0
dtype: int64

In [48]:
df = df.dropna()

In [49]:
dict_sex = {'male':0, 'female':1}
dict_who = {'man': 0, 'woman': 1, 'child': 2}
dict_yes_no = {'yes': 1, 'no': 0}

df.adult_male[df.adult_male == True] = 1
df.adult_male[df.adult_male == False] = 0
df.alone[df.alone == True] = 1
df.alone[df.alone == False] = 0
df.alive = df.alive.map(dict_yes_no)
df.sex = df.sex.map(dict_sex)
df.who = df.who.map(dict_who)

In [50]:
df = pd.get_dummies(df, columns=['deck', 'class', 'embarked', 'embark_town'])

In [51]:
y = df.alive
# X = df.drop(columns=['alive', 'age', 'fare'])
X = df.drop(columns=['alive', 'sex', 'who', 'survived', 'adult_male', 'alone'])

In [55]:
X.columns

Index(['pclass', 'age', 'sibsp', 'parch', 'fare', 'deck_A', 'deck_B', 'deck_C',
       'deck_D', 'deck_E', 'deck_F', 'deck_G', 'class_First', 'class_Second',
       'class_Third', 'embarked_C', 'embarked_Q', 'embarked_S',
       'embark_town_Cherbourg', 'embark_town_Queenstown',
       'embark_town_Southampton'],
      dtype='object')

In [52]:
X_train,X_test,y_train,y_test=train_test_split(X, y, test_size=0.3,random_state=42)

In [53]:
Cs = [10, 20, 30, 40]
gammas = [0.0001, 0.001, 0.01, 0.1, 1.0]
param_grid = {'C': Cs, 'gamma' : gammas}

grid_search = GridSearchCV(SVC(kernel='rbf', probability=True), param_grid, cv=10, n_jobs=-1, verbose=1)
grid_search.fit(X_train, y_train)

best_model = grid_search.best_estimator_
grid_search.best_params_

Fitting 10 folds for each of 20 candidates, totalling 200 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  52 tasks      | elapsed:    0.9s
[Parallel(n_jobs=-1)]: Done 200 out of 200 | elapsed:    3.3s finished

{'C': 40, 'gamma': 0.0001}

In [54]:
print(grid_search.best_estimator_)
print("The mean accuracy of the model is:", best_model.score(X_test,y_test))

SVC(C=40, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.0001, kernel='rbf',
    max_iter=-1, probability=True, random_state=None, shrinking=True, tol=0.001,
    verbose=False)
The mean accuracy of the model is: 0.7116104868913857

In [56]:
X_train

,pclass,age,sibsp,parch,fare,deck_A,deck_B,deck_C,deck_D,deck_E,...,deck_G,class_First,class_Second,class_Third,embarked_C,embarked_Q,embarked_S,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
486,1,35.0,1,0,90.0000,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,1
293,3,24.0,0,0,8.8500,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,1
173,3,21.0,0,0,7.9250,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,1
450,2,36.0,1,2,27.7500,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,1
361,2,29.0,1,0,27.7208,0,0,1,0,0,...,0,0,1,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,3,28.0,0,0,7.7750,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,1
271,3,25.0,0,0,0.0000,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,1
862,1,48.0,0,0,25.9292,0,0,0,1,0,...,0,1,0,0,0,0,1,0,0,1
436,3,21.0,2,2,34.3750,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,1
103,3,33.0,0,0,8.6542,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,1